@import './base/reset';
@import './abstract/constants';
@import './abstract/mixins';
@import './components/header';
@import './components/navigation';
@import './components/promo';
@import './components/portfolio';
@import './components/contact-us';
@import './components/footer';

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}