.promo {
    &__wrapper {
        width: 85%;
        margin: 3%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;

        @include media-tablet {
            flex-direction: row;
        }
    }

    &__title {
        font-size: 2.2em;
        letter-spacing: 1px;
        line-height: 36px;
        margin: 10px 5px;
        color: $primary-color;
        font-weight: 600;

        @include media-tablet {
            font-size: 2.6rem;
        }
    }

    &__text {
        font-size: 0.8em;
        margin: 10px 5px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #6e757a;
        font-weight: 400;
    }

    &__img {
        max-width: 660px;
        max-height: 680px;
        width: 30%;
        height: 30%;
    }   
}